article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	background: #fff;
}

body {
	--color-text: #352e00;
	--color-bg: #ffb800;
	--color-link: #352e00;
	--color-link-hover: #00707b;
	--color-reveal: var(--color-bg);
	--color-title: #352e00;
	--color-nav: #352e00;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	padding: 6rem 0 0 0;
	
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}


a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
}

button:focus,
a:focus {
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

main {
	position: relative;
	width: 100%;
}

.content {
	text-align: center;
}



.slideshow {
	position: relative;
	width: 100%;
	padding: 25vh 0 25vh 0;
	pointer-events: none;
	overflow: hidden;
	background: var(--color-bg);
}

.slide {
	width: 100%;
	height: 50vh;
	top: 0;
	position: absolute;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	align-items: center;
}

.slide--current {
	position: relative;
}

.slide__img-wrap {
	grid-area: 1 / 1 / 1 / 1;
	width: 100%;
	height: calc(100vh - 0rem);
	max-height: 100%;
	overflow: hidden;
	position: relative;
	opacity: 0;
	outline: 3px solid transparent;
}

.slide__img {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	background-position: 50% 50%;
	position: absolute;
	backface-visibility: hidden;
	pointer-events: none;
}

.slide__img::after {
	content: '';
	background: #ffb70079;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.slide__img-reveal {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: var(--color-reveal);
	transform: translate3d(-100%,0,0);
	pointer-events: none;
}

.slide__number {
	margin: 0 60px;
	font-size: 1rem;
	position: absolute;
	bottom: 6rem;
	font-weight: 700;
	line-height: 1.5em;
	opacity: 0;
}

.slide__title {
	margin: 0;
	grid-area: 1 / 1 / 1 / 1;
	font-size: 4vw;
	font-weight: 700;
	color: var(--color-title);
	position: relative;
	margin-bottom: 1.25rem;
	line-height: 1em;
	opacity: 0;
}
.slide__number p{
	color: #352e00;
}

.slide--current .slide__img-wrap,
.slide--current .slide__number,
.slide--current .slide__title {
	opacity: 1;
}

.slidenav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: lowercase;
}
.slidenavtop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
	display: flex;
	justify-content: space-between;
	text-transform: lowercase;
	padding: 0 20px;
}

.slidenav__item {
	pointer-events: auto;
	border: 0;
	background: none;
	padding: 1rem;
	margin: 0.85rem;
	text-transform: inherit;
	position: relative;
	line-height: 1;
	color: var(--color-nav);
}

.header{
	pointer-events: auto;
	font-weight: bold;
	color: var(--color-nav);
	position: absolute;
	top: 0;
	border: 0;
	background: none;
	width: 100%;
}


.slidenav__item::before,
.slidenav__item::after {
	content: '';
	position: absolute;
	width: 3rem;
	height: 1px;
	background: currentColor;
	top: 50%;
}

.slidenav__item::before {
	right: 100%;
}

.slidenav__item::after {
	left: 100%;
}

.slidenav__item:hover {
	color: var(--color-link-hover);
}

.slidenav__item--prev {
	transform: rotate(-90deg) translateY(-50%);
}

.slidenav__item--next {
	transform: rotate(90deg) translateY(-25%);
}

.slidenav__preview {
	pointer-events: auto;
	font-weight: 800;
	color: var(--color-nav);
	position: absolute;
	bottom: 0;
	transform: translateX(-50%);
	left: 50%;
	width: 100%;
	border: 0;
	background: #ffc4008a;
	padding: 0.5rem;
}

.slidenav__preview:hover {
	color: var(--color-link-hover);
}

.slidenav__preview .icon {
	pointer-events: none;
}




@media screen and (min-width: 53em) {
	body {
		padding: 0;
	}
	.content {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		min-height: 100vh;
		text-align: left;
	}
	.content--fixed {
		position: fixed;
		z-index: 10000;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		min-height: 0;
		height: 100vh;
		padding: 1.5rem 2rem;
		pointer-events: none;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'codropsheader info'
							'... ...'
							'github ...';
	}
	.codrops-header {
		grid-area: codropsheader;
		padding: 0;
		justify-content: start;
	}
	.codrops-links {
		margin: 0;
	}
	.content--fixed a {
		pointer-events: auto;
	}
	.info {
		margin: 0;
		justify-self: end;
	}
	.github {
		grid-area: github;
		justify-self: start;
	}
	.slideshow {	
		padding: 0;
		margin: 0;
	}
	.slide {
		height: 100vh;	
	}
	.slide__img-wrap {
		width: 100vw;
	}
	.slide__img::after,
	.preview__img::after {
		display: none;
	}
}




.index-nav{width: 100%;height: 40px;box-sizing: border-box;}
.index-nav-frame{width: 100%;margin: 0 auto;}
.index-nav-frame-line{color: #352e00;float: left;position: relative;display: block;outline: none;cursor: pointer;width: 120px;line-height: 50px;text-align: center;font-weight: 700;}
.index-nav-frame-line.active{color: #352e00;}
.index-nav-frame-line a{display:flex;margin: 0 auto;justify-content: center;}
.index-nav-frame-line-li a{display:flex;margin: 0 auto;justify-content: center;}
.icon{display:block;width: 40px;height: 40px;margin-right: 10px;}

.index-nav-frame-line-center{opacity: 0;height: 0;position: absolute;overflow: hidden;width: 100%;transition: all 0.5s;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;/* Firefox 4 */-o-transition: all 0.5s; /* Opera */}
.index-nav-frame-line-li{width: 100%;background: #ffb800;font-weight: 500;text-align: center;color: #352e00;}
.index-nav-frame-line-li:hover{background: #ff6e00;color:#352e00;}
.index-nav-frame-line-li:hover a{background: #ff6e00;color: #352e00;}
.index-nav-frame-line-focus:focus{display: none;}
.index-nav-frame-line:hover .index-nav-frame-line-center{height:auto;opacity: 1;}

.nav-line{height: 50px;width: 100%;position: relative;display: none;outline: none;}
.nav-small{width: 30px;height: 30px;position: absolute;right: 10px;top:10px;cursor: pointer;display: none;outline: none;}
.nav-small img{width: 100%;height: 100%;object-fit: cover;}
.nav-small-focus{position: absolute;width: 100%;height: 100%;display: none;}
.nav-small-focus:focus{display: none;}
@media only screen and (max-width:860px) {
	.index-nav-frame-line-li a{display: block;color: white;}
	.nav-line{display: block;}
	.nav-small{display: block;}
	.nav-small:focus~.index-nav-frame-line{height: auto;}
	.nav-small:focus .nav-small-focus{display: block;}
	.index-nav-frame{width: 100%;}
	.index-nav-frame-line{width: 100%;height: 0;overflow: hidden;}
	.index-nav-frame-line-center{position: relative;background: #ff6e00;}
	.index-nav-frame-line:hover .index-nav-frame-line-center{height:0;opacity: 0;}
	.index-nav-frame-line-li{border-bottom: 1px solid  #ffffff;color: #ffffff;background: #ff6e00}
	.index-nav-frame-line-li:hover{background:#ff6e00;}
	.index-nav-frame-line:focus{height: auto;border-bottom: 1px solid rgb(255, 255, 255);}
	.index-nav-frame-line:focus>.index-nav-frame-line-center{height:auto;opacity: 1;}
	.index-nav-frame-line:focus .index-nav-frame-line-header{color: #ff6e00;}
	.index-nav-frame-line-focus{display: none;width: 100%;height: 50px;position: absolute;left: 0;top: 0;}
	.index-nav-frame-line:focus .index-nav-frame-line-focus{display: block;}

}